<div class="container-fluid">
<br><br>
  <button class="btn btn-success " routerLink="/Galary/Gla">Open the Gallay</button><br><br>

  <img src="assets/SplashImg/barbie.jpg" style="height: 250;width: 410px;" alt="">
  <img src="assets/SplashImg/farmer.jpeg" style="height: 270;width: 410px; " alt="">
  
  <img src="assets/SplashImg/Mumbai.jpg" style="height: 250;width: 410px;" alt="">
  <img src="assets/SplashImg/Nature.jpg" style="height: 250;width: 410px;" alt="">
  <img src="assets/SplashImg/car.jpg" style="height: 250;width: 410px;" alt="">
  <img src="assets/SplashImg/man.jpg" style="height: 250;width: 410px;" alt="">
</div>